BOT_TOKEN=8854336055:AAF_DaDLVftq9BX_wFHnZ1ZBuRBB-TrgbJk
API_ID=37934507
API_HASH=ae0b733927221df2c6c5ccd0060d0dd6
OWNER_ID=8644197194
SUPPORT_URL=https://t.me/+czHhCdpSaOcyMDVl
DEVELOPER_URL=https://t.me/astro_shubh
START_IMAGE=welcome.jpg
HELP_IMAGE=help.jpg
LOG_CHANNEL=-1001234567890
